<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atrações</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        body{
            font-style: normal;
            background-color: beige;
            justify-content: center;
            list-style-type: square;
        } 
        
        
    </style>
</head>
<body>
    <h1 class="atracoes">Atrações Turísticas</h1>

    <ol class="lista">
        <li>Gôndola Veneziana: réplica autêntica de uma gôndola trazida de Veneza, Itália.</li>
        <li>Casario colonial: casas construídas com pedra basáltica, preservadas desde o início da colonização.</li>
        <li>Museu do Imigrante: acervo que conta a história da imigração italiana na região.</li>
        <li>Praça Humberto Bortoluzzi: principal praça da cidade, com bela jardinagem e arquitetura em estilo europeu.</li>
        <li>Igreja Matriz São Marcos: templo católico de grande importância religiosa e arquitetônica.</li>
    </ol>


    <a href="/">Página principal</a>
</body>
</html>