<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-style: normal;
            background-color: beige;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1 class="Principal">Nova Veneza</h1>
    
    <p>Nova Veneza é um município localizado no sul do estado de Santa Catarina, Brasil, pertencente à microrregião de Criciúma. Com uma população estimada em cerca de 15 mil habitantes (2025), a cidade é reconhecida por sua forte herança cultural italiana e pela arquitetura típica que preserva os traços dos imigrantes que colonizaram a região a partir do final do século XIX.</p>

    <img src="https://cdn-hweb.hsystem.com.br/5dee4e44acb6949eb4700795/200022b5ef104567b7b5e0940efe8311.jpg" alt="">

    <a href="atracoes/">Atrações turísticas</a>
    <a href="galeria/">Galeria de fotos</a>
</body>
</html>